.realtors{
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;

  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem;



  &_list{
    display: grid;
    align-items: center;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;

    @media only screen and (max-width: $bp-medium){
      grid-template-columns: repeat(3, min-content max-content);
      grid-gap: 1rem;
    }
    @media only screen and (max-width: $bp-small){
      grid-template-columns: min-content max-content;
      grid-gap: 2rem;
    }
  }
  &_img{
    width:7rem;
    display: block;
    border-radius: 50%;
  }
  &_sold{
    text-transform: uppercase;
    content: $color-grey-light-2;
    margin-top: -3px;
  }


  @media only screen and (max-width: $bp-medium){
    grid-column: 1 / -1;
  }

}